/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/*********************
HEADER STYLES
*********************/

.top-line{

  img{
    height: 2em;
  }

  p{
    margin: 0.7em 0;
    font-size: 1.1em;
  }

  .wrap-top-phone{

    max-width: 83%;

    p{
      font-size: 1.5em;
      margin: 0.31em 0;
    }
  }
}


/*********************
FOOTER STYLES
*********************/

.footer{
  address{
    p{
      font-size: 1.5em;
    }
  }
}

.footer-caption{
  margin: 2em auto;

  &.time{
    margin-bottom: 1.5em;
  }
}