/*********************
Hide block on mobile
*********************/

@media (max-width: 767px) {
  .hidden-m {
    display: none;
  }
}

/*********************
Classes for aligning blocks
*********************/

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.text-center{
  text-align: center;
}

/*********************
Classes for specifying colors
*********************/

.yellow{
  color: $yellow;
}

.white{
  color: $white;
}